footer
  .container.text-center
    //p.pull-left © 2016 North Carolina State University, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href=repository.url || repository) GitHub Project
      li
        a(href=(repository.url || repository) + '/issues') Issues
      li
        <span>#{version}</span>
