.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='./')
        i.fa.fa-fire
        | GUIDE
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if isAllowed('students','get')
          li(class=(title == 'Students') ? 'active' : undefined)
            a(href='./students') Students
        if isAllowed('classes','get')
          li(class=(title == 'Classes') ? 'active' : undefined)
            a(href='./classes') Classes
        if isAllowed('sessions','get')
          li(class=(title == 'Sessions') ? 'active' : undefined)
            a(href='./sessions') Sessions
        if isAllowed('groups','get')
          li(class=(title == 'Groups') ? 'active' : undefined)
            a(href='./groups') Groups
        if isAllowed('tools','get')
          li(class=(title == 'Tools') ? 'active' : undefined)
            a(href='./tools') Tools            
        if isAllowed('alerts','get')
          li(class=(title == 'Alerts') ? 'active' : undefined)
            a(href='./alerts') Alerts
        if isAllowed('audits', 'get')
          li(class=(title == 'Audits') ? 'active' : undefined)
            a(href='./audits') Audits
        if isAllowed('users', 'get')
          li(class=(title == 'Users') ? 'active' : undefined)
            a(href='./users') Users
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='./login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='./signup') Create Account
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=`${user.profile.picture}` alt='User\'s profile picture')
              else
                img(src=`${user.gravatar(60)}` alt='User\'s profile picture')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='./account') My Account
              li.divider
              li
                a(href='./logout') Logout
