extends layout

block content
  h1 Alerts

  div.pull-right
    if isAllowed('alerts', 'post')
      form.form-horizontal(action='./alerts/clear', method='POST')
        .form-group
          input(type='hidden', name='_csrf', value=_csrf)
          button.btn.btn-danger(type='submit')
            i.fa.fa-trash
            | Clear all

  div
     table.table.table-striped
      thead
        tr
          th Type
          th Timestamp
          th Message
          th Details
      tbody
        for alert in alerts
          tr
            td
              case alert.type
                when 'error'
                  s.fa.fa-exclamation-circle
                when 'warning'
                  s.fa.fa-exclamation-triangle
                when 'info'
                  s.fa.fa-info-circle
            td #{moment(alert.timestamp).calendar()}
            td #{alert.message}
            if (alert.eventJson || alert.stack)
              td
                a(href=`./alerts/${alert._id}`) View
  div
    include ./paginate
