extends layout

block content
  h1 Classes
    if isAllowed('classes', 'post')
      div.pull-right
        form.form-horizontal(action='./classes/modify', method='POST')
          .form-group.floatLeft
            input(type='hidden', name='_csrf', value=_csrf)
            button.btn.btn-primary(type='submit' name='action' value='addNew' style='margin-right: 5px;')
              i.fa.fa-plus
              | Add
            if isAllowed('classes', 'delete')
              button.btn.btn-danger(type='submit' name='action' value='deleteAll')
                i.fa.fa-trash
                | Delete all
  div
     table.table.table-striped
      thead
        tr
          th Id
      tbody
        for c in classes
          tr
            td
              a(href='./students?classId=#{c.id}') #{c.id}