extends layout

block content
  h1 Monitor

  div
     h2 Active Sessions  
     table.table.table-striped
      thead
        tr
          th Student ID
          th Session Duration
          th Total Events
      tbody
        for session in sessions
          tr
            td 
              a(href='/session/#{session.id}') #{session.student.id}          
            td #{session.duration}
            td #{session.totalEvents}